.overlay {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.8);
	z-index: 999;
}

.overlay h2 {
	font-family: var(--fontTitle);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 1em;
	text-align: right;
}

.overlay input {
	background: var(--color);
}

.overlay .close-me {
	position: absolute;
	top: -20px;
	right: -20px;
	box-sizing: initial;
	border: 5px solid #fff;
	background: var(--darkRed);
	color: var(--color);
	font-weight: bold;
	border-radius: 50%;
	width: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-in;
}

.overlay .close-me:hover {
	transform: scale(1.3);
}

.overlay .main {
	background: #fff;
	border-radius: 20px;
	padding: 1vw;
	width: 60vw;
	position: relative;
}

.overlay label {
	display: inline-block;
	width: 25%;
}

.overlay input,
.overlay select {
	width: 75%;
}

form .short {
	width: 55px;
	padding: 0.2em;
}

section.flex {
	display: flex;
	box-shadow: none;
}

.flex .right {
	display: flex;
	flex-wrap: wrap;
}
.flex .w {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.flex .w label {
	width: 30%;
}

section.flex .left,
section.flex .right {
	width: 50%;
	padding: 0 1.5vw;
}

form .buttons {
	margin-top: 1em;
}

table.dates-checking {
	width: 100%;
}

table.dates-checking td:not(:first-child) {
	font-size: 0.8em;
	font-family: var(--fontSubTitle);
	text-align: center;
	max-width: 50px;
}

table.dates-checking td:first-child {
	font-size: 0.8em;
	font-family: var(--fontTitle);
	padding: 0 1em;
	table-layout: fixed;
}

table.dates-checking td {
	line-height: 3em;
}

table.dates-checking tr:first-child td {
	line-height: 1em;
}

table.dates-checking tr:not(:first-child) td:not(:first-child):hover {
	background: var(--color);
	cursor: pointer;
}

table.dates-checking tr:not(:first-child):hover {
	background: rgba(0, 0, 0, 0.15);
}

table.dates-checking td.self-selected {
	background: var(--green);
}

table.dates-checking td.selected {
	background: var(--greenLight);
}

.overlay .main .buttons {
	text-align: center;
	margin-top: 0.5em;
}

input::placeholder {
	color: #311f1d;
	font-size: 0.7em;
	font-family: var(--fontSubTitle);
	font-style: italic;
	opacity: 0.75;
	transition: opacity 0.2s ease-in;
}

input:hover::placeholder {
	opacity: 0.25;
}
