.add-me {
	color: var(--greenLight);
}

.list-players {
	display: flex;
	flex-direction: column;
}

.list-players li {
	cursor: pointer;
	display: inline;
	background: var(--color);
	display: flex;
	justify-content: space-between;
	padding: 0.5em 0.5em;
	border-bottom: 1px dotted black;
	font-size: 0.8em;
	font-family: var(--fontSubTitle);
}

.list-players li:hover .add-me {
	color: var(--green);
}

.list-players li:hover {
	background: var(--greenLight);
}
