section.edit-profile {
	background: var(--headBack);
	margin: 2vw;
	padding: 1vw;
}
section.edit-profile.mid {
	width: 90%;
	margin: 2vw auto;
	padding: 2em;
}

section.edit-profile h2 {
	text-align: center;
	font-size: 1.9em;
}

section.edit-profile form.main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	padding: 3vw 5vw;
}

section.edit-profile .element {
	padding: 1vh 0;
}

section.edit-profile .element label {
	display: inline-block;
	font-family: var(--fontSubTitle);
	border-bottom: 2px dotted var(--back-color-one);
	padding-bottom: 0.2em;
	width: 25%;
}

section.edit-profile .element input {
	width: 75%;
}

section.edit-profile .avatar {
	display: flex;
	justify-content: center;
	margin-top: 0.5em;
}

section.edit-profile .avatar img {
	border: 5px solid var(--back-color-one);
	box-sizing: content-box;
	width: 175px;
	height: 175px;
	transition: all 0.3s;
	cursor: pointer;
}

.edit-profile.mid .avatar img {
	height: 300px;
	width: 225px;
	cursor: default;
}

section.edit-profile .feedbacks {
	text-align: center;
	color: var(--darkRed);
	background: var(--color);
	width: 70%;
	margin: 30px auto 0;
	padding: 1em 0;
	border: 2px solid var(--darkRed);
	border-radius: 15px;
}
